<% include("header") %>


<div class="container-fluid">

    <h3>BookstoreDB</h3>
      <form class="" action="/" method="post">
        <input type="text" name="bookInfo" value="<%=bookInfo.name%>" placeholder="Enter the name of the book">
        <input type="number" name="bookInfo" value="<%= bookInfo.isbn %>" placeholder="ISBN of the book.">
        <input type="text" name="bookInfo" value=" <%=bookInfo.author%>" placeholder="Author">
        <input type="number" name="bookInfo" value="<%=bookInfo.pages%>" placeholder="Total Pages">
        <input type="number" name="bookInfo" value="<%= bookInfo.rating %>" placeholder="Rating">
        <button type="submit" class="btn btn-primary" name="button">Save</button>
      </form>

</div>







<% include("footer") %>
